*{
    text-align: center;
    justify-content: center;
    margin: auto;
}
.mainCat{
    margin: 2rem;
    height: 30rem;
    justify-content: center;
    text-align: center;
    border: 2px solid rgba(3, 3, 3, 0.192);
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    padding: auto;
}
p{
    padding: 10px;
    margin: auto;
}
h3{
    font-weight: 1000;
    
    padding: 20px;
}