.image1{
    width: 20rem;
    height: 40rem;
    margin: 2rem;
    box-shadow: 5px 15px 10px black;
    border-radius: 30px;
}
.sideImage{
    width: 17rem;
    height: 35rem;
    margin: 2rem;
    box-shadow: 5px 15px 10px black;
    border-radius: 30px;
}
.stores{
    width: 400px;
    margin: auto;
}